@CHARSET "UTF-8";

body, td, th {
	font-family: Verdana, Arial, Helvetica: sans-serif;
	font-size: 12px;
}

th {
	background: url(#{resource['imagens:fundo_claro.png']});
	min-height: 25px;
	padding: 3px;
}

img {
	border: 0px;
}

#container {
	width: 770px;
	height: 100%;
	margin: 0 auto
	
}

#titulo {
	float: left;
	font-size: 25pt;
	font-variant: small-caps; 
	font-weight: bold;
}

/* font-variant: small-caps faz com que todo o título seja exibido em maiúsculas,
e as minúsculas em tamanho menor   */

#barra_menu {
	background: url(#{resource['imagens:fundo_barra_menu.png']});
	min-height: 25px;
	padding: 3px;
	clear: both;
}

#corpo {
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 320px;
	margin: 100px;
}

#rodape {
	background: url(#{resource['imagens:fundo_barra_rodape.png']}) repeat-x;
	height: 100px;
	margin-top: 5px;
	padding: 10px;
	text-align: center;
}

