<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:composition template="/templates/interna.xhtml">
	<ui:define name="titulo">
		Login
	</ui:define>
	<ui:define name="corpo">
		<h:panelGroup rendered="#{!empty param.login_error}">
			<span style="color: red"> Erro ao efetuar o login.</span>
			<br />
			<br />
		<h:outputText value="Motivo: #{SPRING_SECURITY_LAST_EXCEPTION.message}" />
	</h:panelGroup>
		<form id="login" method="post"
			action="#{request.contextPath}/j_spring_security_check">
			<table>
				<tr>
					<td>Login</td>
					<td><input type='text' name='j_username' /></td>
				</tr>
				<tr>
					<td>Senha</td>
					<td><input type='password' name='j_password' /></td>
				</tr>
				<tr>
					<td align="right"><input type="checkbox"
						name="_spring_security_remember_me" /></td>
					<td>Logar automaticamente</td>				
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Logar" /></td>
				</tr>
			</table>
			<script>
				document.getElementById("login").j_username.value = "#{SPRING_SECURITY_LAST_USERNAME}";
			</script>
		</form>
	</ui:define>
</ui:composition>
</html>