<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><ui:insert name="titulo">Financeiro Web</ui:insert></title>
	<h:outputStylesheet library="css" name="estilo.css" />
	<link type="text/css" rel="stylesheet" href="/project/faces/javax.faces.resource/theme.css?ln=primefaces-glass-x" />
	<style type="text/css">
<!--
#logotipo {
	text-align: center;
}
-->
</style>
</h:head>
<h:body>
	<div id="container">
		<div id="logotipo">
			<h:graphicImage library="imagens" name="logotipo_g.png" />
		</div>
		<div id="barra_menu">
			<ui:insert name="barra_menu">
				<ui:include src="/restrito/menu_sistema.xhtml" />
			</ui:insert>
		</div>
		<div id="corpo">
			<ui:insert name="corpo" />
		</div>
		<div id="rodape">
			<ui:insert name="rodape">
				<ui:include src="/publico/rodape.xhtml" />
			</ui:insert>
		</div>
	</div>
</h:body>
</html>