﻿<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<ui:composition template="/templates/externa.xhtml">
	<ui:define name="corpo">
		Usuário logado #{request.remoteUser} 
	</ui:define>
</ui:composition>
</html>
